@keyframes slide {
  0% {
    transform: translate(100%, 0);
    left: 120%;
  }
  to {
    transform: translate(-100%, 0);
    left: -20%;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    // transform: translate(110%, 0) rotate(0deg);
    // left: 120%;
  }
  to {
    transform: rotate(-1800deg);
    // transform: translate(-110%, 0) rotate(-1800deg);
    // left: -20%;
  }
}

@keyframes pop {
  0%{
    opacity: 0;
  }
  1%{
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}